---
import { getCollection } from "astro:content";
import { GitFork, HeartHandshake } from "lucide-react";
import { Link } from "@/components/ui/link";
import { Marquee } from "@/components/ui/marquee";
import { ProjectsList } from "@/components/projects/list";
import { site_config } from "../consts";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import RecentPosts from "@/components/post/RecentPosts.astro";
import Section from "@/components/Section.astro";

const projects = await getCollection("projects");

const { title, description } = site_config;
---

<Layout title={title} description={description}>
  <Section as="header">
    <Container class="flex flex-col p-0 sm:flex-row">
      <div class="w-full px-4 py-8 sm:w-7/12">
        <p class="mb-4 text-sm text-muted-foreground">
          <b class="text-foreground">.raw</b> is an opinionated static blogging template
          built with
          <Link href="https://astro.build/" underline external> Astro </Link>,
          <Link href="https://tailwindcss.com/" underline external>
            Tailwind
          </Link>
          , and
          <Link href="https://ui.shadcn.com/" underline external
            >shadcn/ui
          </Link>. This template serves as a lightweight, minimally-styled
          starting point for anyone looking to build a personal website, blog,
          or portfolio with Astro.
        </p>
        <p class="text-sm text-muted-foreground">
          To use this template, check out the

          <Link href="https://github.com/0xcgn/.raw" underline external>
            GitHub
          </Link>

          repository.
        </p>
      </div>
      <div class="w-5/12 sm:border-t-none sm:border-l aspect-video"></div>
    </Container>
  </Section>
  <Section>
    <Container>
      <div class="pb-4">
        <h3 class="pb-4 font-bold font-lg">Getting Started</h3>
        <RecentPosts count={3} />
      </div>

      <div>
        <p class="text-sm text-muted-foreground">
          Looking for a blog template with a bit more personality? Check out the
          small guide on How to customize the template.
        </p>
      </div>
    </Container>
  </Section>
  <Section>
    <Container class="border-b bg-grid py-6">
      <div class="font-bold uppercase text-2xl sm:h-16">
        templates designed & developed
        <br /> using <span class="lowercase font-mono">.raw</span>
      </div>
    </Container>
    <Container class="p-0">
      <ProjectsList projects={projects} client:load />
    </Container>
  </Section>
  <Section>
    <Container class="px-0 py-0">
      <Marquee pauseOnHover className="[--duration:40s]">
        {
          [
            "we like raw",
            "·",
            "life is raw",
            "·",
            "time is raw",
            "·",
            "food is raw",
            "·",
            <Link
              className="flex items-center"
              href={site_config.socials.github}
              external
            >
              <GitFork className="w-4 h-4 mr-2" />
              fork the raw
            </Link>,
            "·",
            "wut?",
            "·",
            "raw is good",
            "·",
            "thoughts are raw",
            "·",
            "truth is raw",
            "·",
            // TODO: do an automated tweet tagging you & astro
            <Link
              className="flex items-center"
              href={site_config.socials.twitter}
              external
            >
              <HeartHandshake className="w-4 h-4 mr-2" />
              share the raw
            </Link>,
            "·",
            "we feel it raw",
            "·",
            "nature is raw",
            "·",
            "so?",
            "·",
            "raw is real",
            "·",
            "live it raw",
            "·",
            "raw is all",
            "·",
          ].map((slogan) => (
            <div class="text-xs font-bold uppercase">{slogan}</div>
          ))
        }
      </Marquee>
    </Container>
  </Section>
</Layout>
