---
// import { Image } from "astro:assets";
import Link from "@/components/Link.astro";

import type { CollectionEntry } from "astro:content";

type Author = CollectionEntry<"authors">["data"];
type Props = Author;

// TODO: link to authors page once built. href={`/authors/${author.slug}`}
const { name, avatar, website } = Astro.props;
---

<div class="flex items-center gap-x-1.5">
  <!-- <Image src={avatar} alt={name} width={24} height={24} class="rounded-full" /> -->

  <Link href={website} underline class="text-foreground">
    <span>{name}</span>
  </Link>
</div>
